.corNav {
    background-color: #FFB52E;
}

.logo img {
    height: 50px;
}

.banner img {
    height: 600px;
}

.carousel-inner img {
    height: 500px;
}

.margem {
    margin-top: 16vh;
}

.card_imagem img {
    height:400px;
}

.corFooter {
    background-color: #FFD68A;
}

@media (max-width: 768px) {
    .banner img {
        height: 300px;
    }
    
}